/*******************************
Elements
********************************/
/*span{
    display: block;
    font: bold 10px "Arial", "Helvetica", sans-serif;
    color: #000;
    text-align: center;
}*/
/*******************************
Board Structure
********************************/
.board {
    background: #005C5C;
    height: 1500px;
}
.row{
    background: #fff;
    float: left;
    margin-bottom: 4px;
    margin-left: 4px;
    width: 60%;
}

#row1, #row3 {
    height: 100px;
    width: 1089px;
}

#row2 {
    width: 1089px;

}
.col1{
    float: left;
    width: 95px;
}

.col3{
    float: right;
    margin-right: 4px;
    width: 95px;
    height: 100px;
}

/*******************************
Buttons
********************************/
.buttons {
  width: 220px;
  float: right;
  margin-top: 200px;
  position: relative;
  right: 150px;

}

#new-game-button {
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #cf473e;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#FF3333;
}

#roll-dice-button {
  border-radius:4px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #cf473e;
  box-shadow:inset 0px 39px 0px -24px #e67a73;
  background-color:#FF3333;
}
.background-image {
    width: 250px;
    float: right;
    margin-top: 500px;
    position: relative;
    right: 950px;

}
/*.mono-image {
     width: 200px;
    float: right;

    margin-bottom: 200px;

    right: 950px;

}*/

/*******************************
Board positions - Square
********************************/
.square {
    background: #EBEBE0;
    border: 1px solid #000;
    float: left;
    height: 80px;
    width: 75px;
}

div .square-x:last-child {
    margin-right: 0;
     height: 100px;
    width: 95px;
}
.square-x{
    margin-right: 2px;
    height: 100px;
    width: 95px;
}

.square-y{
    margin-bottom: 2px;
    height: 100px;
    width: 95px;
}

div .square-y:last-child {
    margin-bottom: 0;
}

/*******************************
Square styles
********************************/

.brown {
  background-color: brown;
}

.lightblue{
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

/*******************************
Square images
********************************/
.image {
  border-radius: 50%;
  position:relative;
  margin-left: 18px;
  margin-top: 20px;
}
.community_chest {
  position:relative;
  margin-left: 7px;
  margin-top: 12px;
}
.chance_image {
  position:relative;
  margin-left: 7px;
  margin-top: 12px;

}
.zombie_man {
  position:relative;
  margin-left: 14px;
  margin-top: 1px;

}

.zombie {
  position:relative;
  margin-left: 14px;
  margin-top: 1px;

}

.utilities{
  position: relative;
  margin-top: 30px;
  margin-left: 10px;
}

.party {
  position: relative;
  margin-left: 15px;
 margin-top: 1px;
}

.arrow {
position: relative;
  margin-left: 15px;
 margin-top: 80px;
}

.go {
  position: relative;
  margin-left: 15px;
 margin-top: -60px;
}
.free-parking{
  position: relative;
  margin-left: 15px;
 margin-top: -60px;
}

/*******************************
Board positions - Title
*******************************

/*.title{
    background: black;
    border-bottom: 1px solid #000;
    line-height: 16px;
}
#blanktitle{
    background: none;
    border-color: #fff;
}
#pink{
    background: #ff4f72;
}
*/



/*******************************
Board positions - Body
********************************/

/*.icons{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin: 0 auto 0 auto;
}*/

/*******************************
Board positions - Price
********************************/
/*.price{
    line-height: 12px;
    margin: 2px 0 2px 0;
    text-align: center;
    width: 100%;
}*/
